Node.txt
[{"id":"f8940d76.197ca","type":"tab","label":"Esame","disabled":false,"info":""},{"id":"b25a886e.655b68","type":"mqtt in","z":"f8940d76.197ca","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"fbeff924.2bcb38","x":270,"y":220,"wires":[["54833a8e.2955b4","2dc6e4e6.5e8d7c","4b4070a4.c22bb"]]},{"id":"54833a8e.2955b4","type":"debug","z":"f8940d76.197ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":200,"wires":[]},{"id":"2d5b571c.b4e2b8","type":"ui_chart","z":"f8940d76.197ca","name":"","group":"d53818a0.470708","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":770,"y":480,"wires":[[]]},{"id":"650edb9b.835514","type":"inject","z":"f8940d76.197ca","name":"","topic":"","payload":"{\"name\":\"Mattia\",\"età\":18,\"altezza\":180,\"promosso\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["e9b1b80b.a32fa8"]]},{"id":"e9b1b80b.a32fa8","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":460,"y":160,"wires":[]},{"id":"7e01ca7d.4052d4","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":240,"wires":[]},{"id":"2dc6e4e6.5e8d7c","type":"switch","z":"f8940d76.197ca","name":"","property":"payload.aperto","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":240,"wires":[["7e01ca7d.4052d4","324b09fc.bcc2e6","e507ced5.ad9cf","5919c9b5.9be058"]]},{"id":"93af3352.91ba9","type":"ui_toast","z":"f8940d76.197ca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":280,"wires":[]},{"id":"324b09fc.bcc2e6","type":"change","z":"f8940d76.197ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATTENZIONE!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["93af3352.91ba9","2439ef6b.b17f7"]]},{"id":"2439ef6b.b17f7","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":320,"wires":[]},{"id":"e507ced5.ad9cf","type":"change","z":"f8940d76.197ca","name":"","rules":[{"t":"set","p":"payload.lan","pt":"msg","to":"45","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"13","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":320,"wires":[["2d465151.6ed93e"]]},{"id":"2d465151.6ed93e","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":360,"wires":[]},{"id":"5919c9b5.9be058","type":"function","z":"f8940d76.197ca","name":"","func":"msg.payload.lan = 65;\nmsg.payload.lon = 12;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["8a1225c4.bb89e8"]]},{"id":"8a1225c4.bb89e8","type":"debug","z":"f8940d76.197ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"4b4070a4.c22bb","type":"change","z":"f8940d76.197ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["e42f9534.c6f4e8","2d5b571c.b4e2b8"]]},{"id":"e42f9534.c6f4e8","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"69f98d6c.a8ea54","type":"mqtt in","z":"f8940d76.197ca","name":"","topic":"/itsData","qos":"2","datatype":"json","broker":"473ca4d2.342acc","x":250,"y":740,"wires":[["161a399c.6ecef6","5714c3df.39103c","e797bd34.0229b"]]},{"id":"2572dbc.77c0e24","type":"ui_chart","z":"f8940d76.197ca","name":"","group":"69e35080.2fbbb","order":0,"width":0,"height":0,"label":"Non ho idea di cosa sia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":660,"wires":[[]]},{"id":"d98f0d64.69a1b","type":"ui_toast","z":"f8940d76.197ca","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"notifica Acquedotto","x":970,"y":800,"wires":[]},{"id":"161a399c.6ecef6","type":"function","z":"f8940d76.197ca","name":"","func":"msg.payload.lat = 45\nmsg.payload.lon = 7\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":740,"wires":[["ae46b4c3.f98928"]]},{"id":"ae46b4c3.f98928","type":"debug","z":"f8940d76.197ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":740,"wires":[]},{"id":"5714c3df.39103c","type":"function","z":"f8940d76.197ca","name":"","func":"msg.payload = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[["2572dbc.77c0e24"]]},{"id":"92a34ed8.4fe79","type":"ui_slider","z":"f8940d76.197ca","name":"","label":"slider","tooltip":"","group":"69e35080.2fbbb","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","min":0,"max":"40","step":1,"x":190,"y":880,"wires":[["ecc02c53.02c71"]]},{"id":"ecc02c53.02c71","type":"function","z":"f8940d76.197ca","name":"","func":"flow.set(\"temp_limit\", msg.payload)","outputs":1,"noerr":0,"x":380,"y":880,"wires":[[]]},{"id":"e797bd34.0229b","type":"function","z":"f8940d76.197ca","name":"","func":"\nif(msg.payload.temp > flow.get(\"temp_limit\")) return msg","outputs":1,"noerr":0,"x":520,"y":800,"wires":[["489bfc88.5034e4"]]},{"id":"489bfc88.5034e4","type":"function","z":"f8940d76.197ca","name":"","func":"msg.topic = msg.payload.name\nmsg.payload = \"Temperatura dell'Acquedotto maggiore di \" + flow.get(\"temp_limit\") + \"\\n Temperatura attuale = \" + msg.payload.temp\nreturn msg","outputs":1,"noerr":0,"x":720,"y":800,"wires":[["d98f0d64.69a1b","18a1a970.42dce7"]]},{"id":"18a1a970.42dce7","type":"debug","z":"f8940d76.197ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":880,"wires":[]},{"id":"fbeff924.2bcb38","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d53818a0.470708","type":"ui_group","z":"","name":"Chart 1","tab":"f8336a26.7214a8","order":1,"disp":true,"width":"12","collapse":false},{"id":"473ca4d2.342acc","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69e35080.2fbbb","type":"ui_group","name":"Chart","tab":"b613c331.e22e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8336a26.7214a8","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"b613c331.e22e1","type":"ui_tab","name":"Chart con cose","icon":"dashboard","disabled":false,"hidden":false}]